.agenda-address__regel {
  // color: #d0d0d0;
}

// overschrijving van klungelige css uit ouder
#stek-voet .agenda-lijst__stuk.agenda-lijst__stuk--widget:first-child {
  margin-top: 0.5em;
  padding-top: 0.5em;
  // border-top: 1px solid rgba(33, 33, 33, 0.1);
}
#stek-voet .agenda-lijst__stuk.agenda-lijst__stuk--widget {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}
#agenda-filter {
  margin-bottom: 0;
}
.agenda-filter-inner-flex {
  display: flex;
  flex-wrap: wrap;
}
.agenda-filter-inner-flex > * {
  margin-left: 20px;
}

.agenda-lijst__stuk.agenda-lijst__stuk--pagina {
  border-bottom: 1px solid rgba(232, 222, 222, 0.1);
  padding: 10px;
}

.agenda-lijst__datum.agenda-lijst__datum--pagina {
  flex-grow: 1;
  width: 350px;
}
@media screen and (max-width: 600px) {
  .agenda-lijst__datum.agenda-lijst__datum--pagina {
    width: calc(100% - 170px);
  }
}

.agenda-lijst__tijd-spacer.agenda-lijst__tijd-spacer--widget {
  padding-left: 0;
  padding-right: 0;
}

.agenda-lijst__rechts.agenda-lijst__rechts--pagina {
  width: 66%;
  align-self: flex-end;
}
@media screen and (max-width: 1000px) {
  .agenda-lijst__rechts.agenda-lijst__rechts--pagina {
    width: 50%;
  }
}
.agenda-lijst__rechts.agenda-lijst__rechts--pagina p {
  font-size: 0.75rem;
  margin: 0;
  margin-top: 0.25em;
}

.agenda-lijst__link.agenda-lijst__link--pagina {
  display: flex;
}
@media screen and (max-width: 600px) {
  .agenda-lijst__link.agenda-lijst__link--pagina {
    flex-wrap: wrap;
  }
}

.agenda-lijst__links.agenda-lijst__links--pagina {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.agenda-lijst__link.agenda-lijst__link--pagina > * + * {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.agenda-lijst__titel.agenda-lijst__titel--pagina {
  margin: 0;
  margin-bottom: 0.25em;
  font-size: 1.5rem;
}
.agenda-lijst__titel.agenda-lijst__titel--widget {
  margin: 0;
  margin-bottom: 0.25em;
  font-size: .9rem;
}

.agenda-lijst__tijd.agenda-lijst__tijd--pagina {
  font-size: 0.5em;
  margin-top: 0.5em;
  display: block;
}

.agenda-lijst__tijd.agenda-lijst__tijd--widget {
  font-weight: 300;
  font-size: .9em;
  width: 100%;
  max-width: initial;
  margin-top: .5em;
}


@media (max-width: 380px){
  .agenda-lijst__titel.agenda-lijst__titel--pagina {
    font-size: 1.25rem;
  }  
  .agenda-lijst__tijd.agenda-lijst__tijd--pagina {
    font-size: 0.66em;
  }
}
.agenda-lijst__taxonomieen {
  //  display: flex;
  font-size: 0.75em;
}
.agenda-lijst__taxonomie-prefix {
  opacity: 0.75;
  display: inline-block;
  min-width: 35px;
}
.agenda-lijst__taxonomieen > * + * {
  //margin-left: 10px;
}

@media screen and (max-width: 800px) {
  #agenda-filter,
  .agenda-lijst__wrapper {
    margin-left: -2.33em;
    margin-right: -2.33em;
  }
}

@media screen and (max-width: 800px) {
  .agenda-lijst__rechts.agenda-lijst__rechts--pagina {
    width: 100% !important;
    display: block;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.agenda-lijst__link.agenda-lijst__link--pagina .attachment-thumbnail {
max-height: 150px;
}

@media (max-width: 380px){
  .agenda-lijst__link.agenda-lijst__link--pagina .attachment-thumbnail {
    width: 100px;
    max-height: 100px;
  }
  .agenda-lijst__datum.agenda-lijst__datum--pagina {
    max-width: calc(100% - 120px);
  }  
}

.Ag_knoppen-doos--agenda {
  margin-top: 50px;
}

.agenda h1 {
  @extend .gecentreerde-titel;
  @extend .serif-letter;
  @extend .tekst-zijkleur;
  margin-top: 100px;
}

.agenda-lijst__rechts--pagina p {
  color: white;
}

.agenda-lijst__buiten.agenda-lijst__buiten--widget .knop.in-kleur {
  color: $hoofdkleur;
  border-color: $wittig;
  &:hover {
    border-color: $hoofdkleur_zeer_licht;
    background-color: $hoofdkleur_zeer_licht;
  }
}
 
// in bericht via shortcode
 
.agenda-via-shortcode .agenda-lijst__link.agenda-lijst__link--pagina::after {
  display: none;
}
.agenda-via-shortcode .agenda-lijst__stuk.agenda-lijst__stuk--pagina {
  border-bottom: none;
}

.agenda-via-shortcode .agenda-lijst__cel--pagina
{
  padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  flex-grow: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

// HEAVY YASHIFICATION

.agenda-lijst__wrapper:not(.agenda-lijst__wrapper--widget) 

{ 
  background-color: #fff;
  padding: 20px;
}



#agenda-filter{
  display: none;
}
.agenda-lijst__stuk.agenda-lijst__stuk--pagina article {
  border: 1px solid $grijs;
}
.agenda-lijst__stuk.agenda-lijst__stuk--pagina .tekst-wittig, 
.agenda-lijst__stuk.agenda-lijst__stuk--pagina .tekst-wit {
  color: inherit;
}
.agenda-lijst__titel.agenda-lijst__titel--pagina {
  @extend .serif-letter;
}
.agenda-lijst__rechts--pagina p
{
  color: inherit;
}
.agenda-lijst__link.agenda-lijst__link--pagina .attachment-thumbnail
{
  max-height: 152px;
  margin-top: -1px;
  margin-left: -1px;
}