.vol-scherm-veld__voorste,
.vol-scherm-veld__tweede-sectie {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.vol-scherm-veld h2 {
  width: 100%;
  text-transform: capitalize;
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 1024px) {
  .vol-scherm-veld h2 {
    margin-top: 0;
  }
  .vol-scherm-veld.art-lijst + footer {
    text-align: left;
    margin-top: 40px;
  }
}
@media (min-width: 1400px) {
  .art-lijst.vol-scherm-veld {
    margin-left: calc(-50vw + 50% + 15px);
    margin-right: calc(-50vw - 50% - 15px);
    width: calc(100vw - 30px);
    margin-top: 100px;
  }
  .vol-scherm-veld__voorste {
    flex-basis: calc(66.66%);
    justify-content: left;
    align-items: start;
    align-content: flex-start;
  }
  .vol-scherm-veld__tweede {
    margin-left: 40px;
    flex-basis: calc(33.33% - 40px);
  }
  .vol-scherm-veld__tweede-sectie {
   // background-color: #ffffff1c;
    position: relative;
    &::before {
      position: absolute;
      left: 0;
      top: -20px;
      display: block;
      content: "";
 //     background-color: #ffffff1c;
      height: 20px;
      width: 100%;
    }
  }

  .vol-scherm-veld__tweede-sectie.vol-scherm-veld__tweede-sectie--download {
    margin-top: 50px;
//    background-color: #76433b1c;
    &::before {
//      background-color: #76433b1c;
    }
  }

  .vol-scherm-veld__tweede-sectie .art-c {
    min-width: 190px;
  }
  .archief-zijveld-footer {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) and (max-width: 1399px) {
  .vol-scherm-veld {
    margin-top: 60px;
  }
  .vol-scherm-veld__voorste {
    flex-basis: calc(50% - 15px);
    margin-right: 15px;
  }
  .vol-scherm-veld__tweede {
    flex-basis: calc(50% - 15px);
    margin-left: 15px;
  }
  .vol-scherm-veld .art-c {
    min-width: 190px;
  }
}

.oyvey-team.art-c.in-lijst {
  flex-basis: calc(50% - 30px);
  position: relative;
  .art-links {
    position: relative;
    padding-bottom: 100%;
  }
  .wp-post-image {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    font-size: 1.25em;
    height:100%;
  }
  .art-rechts {
    position: absolute;
    top: 0;
    left: 30px;
    font-size: 1.5em;
    padding-top: calc(100% - 125px);
    text-shadow: 1px 1px 1px #00000091;
    h3 {
      font-size: 1.75em;
      min-height: initial;
    }
  .tekst-zwart {
    color: white;
  }
  p {
    opacity: 1;
  }
  }
  header {
    margin-bottom:.25em;
  }
  .oyvey-team-volle-tekst {
    background-color: #f2f2f2;
    padding: 2em;
    *:first-child{
      margin-top: 0;
    }
    *:last-child{
      margin-bottom: 0;
    }    
  }
}

.art-c .art-links img {
  height: auto;
}

#archief-lijst .art-rechts p {
  font-size: .66em;
}