.tax-festival .art-c .art-links img { // fix terug wat elders vierkant moest 🤮
    height: 201.2px;
  }

  .tax-festival .uitgelichte-afbeelding-buiten.hero {
    @media (max-width: 800px){
        height: calc(60vh - 70px);
    }
    
  }

  .tax-festival #stek-kop .custom-logo-link img {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 40px;
    z-index:20;
    left: 40px;
    mix-blend-mode: multiply;
    @media (max-width: 1420px){
        top: 140px;
    }
    @media (max-width: 800px){
        top: 130px;
        left: 20px;
        height: 110px;
        width: 110px;
    }
  }

  .tax-festival #stek-kop .stek-kop-links .custom-logo-link + span {
    margin-left: 40px;
      }

      .tax-festival .post-datum.filmmaker{
        font-variant: small-caps;
        font-size: .75em;
        line-height: 1;
        display: block;
        margin-top: 1.25em;
  margin-bottom: -.25em;
      }

.quasi-marquee {
    position: absolute;
    right: 20vw;
    color: #2E6160;
    font-size: 3.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(33, 33, 33, 0.2);
    transition: all 0.2s ease-in-out;
    width: 550px;
    line-height: 1;
    text-align: center;
    mix-blend-mode: multiply;
    filter: hue-rotate(0deg);
    @media (max-width: 1240px){
        font-size: 2.5em;
        width: 350px;
    }
    @media (max-width: 800px){
        font-size: 2rem;
        max-width: 80%;
    }
}


.quasi-marquee--ongeladen {
    opacity: 0;
}
.quasi-marquee--geladen {
    opacity: 1;
}
.quasi-marquee--verdwijnt {
    opacity: 0;
}


.quasi-marquee--niet-geanimeerd {
    transform: translate(100%,-25%)
}

.quasi-marquee--halverwege-geanimeerd {
    transform: translate(calc(-50vw + 100%), -25%);
    transition: all 0.4s ease-in-out;
    @media (max-width: 800px){
        transform: translate(calc(-75vw + 100%), -25%);
    }
}

.quasi-marquee--weg-geanimeerd {
    transform: translate(calc(150vw - 100%), 25vh);
    transition: all 0.5s ease-in-out;
    filter: hue-rotate(0deg)
}


.youtube-buiten {
    position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: space-around;
  z-index:9;
}

 
.youtube-midden {
    width: 1200px;
    position: relative;
    max-width: calc(100% - 40px);
}


.youtube-binnen {
  width: 100%;
  position: absolute;  
  top: 50vh;
  left: 0;
  padding-bottom: 56.25%;
  transform: translate(0, -50%);
}


.youtube-binnen iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}
.sluit-youtube {
    background-color: black;
    border: 0;
    font-size: 3rem;
    position: fixed;
    top: -10px;
    right: -40px;
    @media (max-width: 800px){
      font-size: 2rem;
    top: -10px;
    right: -33px;
    }
}

.open-festival-trailer {
    border: 0;
    background: transparent;
    font-size: unset;
    padding: unset;
    line-height: unset;
    border-radius: unset;
    color: unset;
    font-family: unset;
    text-align: left;    
    width: 100%;
    .camera-span {
        margin-left: .5em;
        font-size: .5em;
        float: right;
        font-variant: small-caps;
        padding: 10px;
        background-color: #f2f2f2;
        line-height: 1;
        color: #151313;     
        &:hover {
            filter: brightness(90%);
        }
    }
}

.art-c.reeds-geweest {
    order: 1;
    &::after {
        position: absolute;
        right: 0;
        top: 0;
        content: 'geweest';
        background-color: #ffffffa1;
        color: #222;
        padding: 10px 50px;
        transform: rotate(45deg) translate(50px, -28px);
        font-variant: all-small-caps;
        mix-blend-mode: lighten;
        font-weight: bold;
        font-size: 32px;
    }
}