//child

#stek-voet {
//  background-color: #121212;
margin-top: 0;
color: #f5f5f5;
a {
  color: #f5f5f5;
}
}

#stek-voet section {
// border-color: $donkergrijs
}


#stek-voet .verpakking.widgets section {
  align-self: flex-start;
}    
 
#stek-voet .textwidget ol,
#stek-voet .textwidget ul {
  padding-left: 1em;
}

.footer-menu {
  columns: 2;
}

.footer-section .search-form {
  padding: 0;
  background-color: transparent;
  margin-bottom: 0;
}

.footer-section .search-form .search-submit {
    margin-left: 10px;
    padding-top: calc(.3em - 0px);
    padding-bottom: calc(.3em - 0px);
}
#stek-voet .geen-logo:hover,
#menu-footer-menu .menu-item a:hover {
  color: $lichtgrijs;
}

.mc4wp-form-fields {
  label {
    display: flex;   
    justify-content: space-between;
    width: 260px;
    input {
      margin-left: 5px;
    }
  }
}

.schakel-debug {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  background-color: gold;
  color: black;
  font-size: 17px;
}