//child

#stek-voet {
  background-color: #121212;
}

#stek-voet section {
  border-color: $donkergrijs
}

.radical-riders-title--footer {
  font-size: 4rem;
  line-height: 1;
} 


#stek-voet .verpakking.widgets section {
  align-self: flex-start;
}
 
#stek-voet .textwidget ol,
#stek-voet .textwidget ul {
  padding-left: 1em;
}