body {
  background-color: #fffaf9
}

#stek-voet {
  background-color: $zijkleur;
  font-family: $kleine_letter
}

#stek-voet section {
  border-left-color: $hoofdkleur;
}

#stek-voet a.heading-logo--footer {
  font-size: 3em;
  font-weight: bold;
}
#stek-voet,
#stek-voet section a, 
#stek-voet a.heading-logo--footer {
  color: $hoofdkleur;
}
#stek-voet a {
  &:hover {
    text-decoration: underline;
  }
}

.heading-logo, h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.04em;
  .slagzin {
    letter-spacing: initial;
  }
}
.bericht .verpakking {
  h1, h2, h3, h4, h5, h6 {

    font-family: $broodletter;
    letter-spacing: initial;
  }
}

.uitgelichte-afbeelding-buiten.hero h1 {
  @include bruinzwarte-gradient();
}

.uitgelichte-afb-knop{
  @include geel-blok();  
}

.achtergrond-hoofdkleur, 
a.achtergrond-hoofdkleur {
  @include bruinzwarte-gradient();
}

.knop.in-kleur {
  @include geel-blok();
  background-color: $zijkleur_extreem_licht;
}
