main blockquote {
   font-size: .9em;
}

.tekst-zwart,a.tekst-zwart {
     // color: $wittig;
  }
.art-c .art-rechts p {
   font-size: .75em;
   // font-family: Merriweather Sans;
   opacity: 1;
   line-height: 1.15;
   color: $hoofdkleur_donker;
}
.art-c header {
   margin-bottom: .5em;
 }

.art-lijst .art-rechts {
   margin-top: 1em;
   font-size: 1.5em;
 }

h1 {
   line-height: 0.9;
   font-size: 1.5rem;
}
h2 {
   font-size: 1.3rem;
}
h3 {
   font-size: 1.2rem;
}
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//    font-family: Merriweather Sans, sans-serif;
// }

h2, h3 {
   letter-spacing: -.03em;
}

h2, h3, .bericht-tekst {
   color: $hoofdkleur;
}
.bericht-tekst {
   font-size: 1rem;
 }
 .bericht-tekst {
   p, ol, ul {
      max-width: 55ch;
   }
 }
.serif-letter {
   font-family: "Courgette", serif
}

.gecentreerde-titel {
   margin-bottom: 1.5em;
   margin-top: 0;
   text-align: center;
   font-size: 3rem;
}

p {
   font-weight: 400;
   color: $hoofdkleur;
}

.auteur {
   color: $grijs;
   font-style: italic;
   display: block;
   margin-bottom: .5em;
}

.bericht-tekst a:not(.knop){
   position: relative;
   color: $zijkleur_donker;
   &::after {
      content: '';
      display: block;
      height: 2px;
      width: 100%;
      position:absolute; 
      bottom: -1px;
      left: 0;
      background-color: $zijkleur_donker;
   }
   &:hover {
      color: $zijkleur;
      text-decoration: none;
      &::after {
         background-color: $zijkleur;
         height: 3px;
      }
   }
}

img.alignleft, img.alignright, img.aligncenter {
   margin-top: .5em;
   margin-bottom: .5em;
}