html, body {
   font-size: 13px;
   line-height: 1.4;
}
html, body, button, input, select, textarea {
   font-family: "Fira Sans", 'sans-serif';
}

main blockquote {
   font-size: .9em;
}

.tekst-zwart,a.tekst-zwart {
     // color: $wittig;
  }

p {
   margin-bottom: 0.75em;
 }
  
h1 {
   font-size: 2.75rem;
   font-family: "Alef", sans-serif;
 
}
h2 {
   font-size: 1.55rem;
   font-family: "Alef", sans-serif;
   margin-bottom: calc(5px - 0.075em);
   line-height: 1.15em;   
   margin-top: calc(20px - 0.075em);
} 
h3 {
   font-size: 1.2rem;
   font-family: "Alef", sans-serif;
   margin-bottom: calc(4px - 0.075em);
   margin-top: calc(20px - 0.075em);
}

h1, h2, h3 {
   line-height: 1.15em;
}


h2, h3 {
   //letter-spacing: -.03em;
}
h1, h2, h3, .gecentreerde-titel {
   color: $zijkleur;
}

.bericht-tekst {
   //color: $hoofdkleur;
   //color: hsl(178.82, 35.66%, 13.04%);
   color: black;
}
.bericht-tekst {
   // parent: 1.33; hier origineel 1.2
   font-size: 1em;
   & > h2 {
      line-height: 1.15em;
   }
   & > h3 {
      line-height: 1.15em;
      letter-spacing: 0.02em;
   }
   @media (max-width: 600px){
      // TODO NOODVERBAND
      font-size: 1.4rem;
      h1 {
         font-size: 2.75rem;
      }
      h2 {
         font-size: 1.55rem;
      }
      h3 {
         font-size: 1.2rem;
      }
   }
 } 
 
 .bericht-tekst {
   p, ol, ul, h1, blockquote, h2, h3, hr, span {
      //max-width: 37rem;
      max-width: initial;
   }
   p, ol, ul, hr, blockquote, span {
      letter-spacing: 0.02em;
      font-weight: 300;
      line-height: 1.4;
      margin-top: 0;
      margin-bottom: calc(10px - 0.2em);
   }
 }
 


 hr {
   margin-left: 0;
 }

 ul, ol {
   margin-left: 0;
 }

//  .bericht-tekst > h2,
//  .bericht-tekst > h3  {
//    line-height: 1.15em;
//  }


.secundaire-font {
   font-family: "Fira Sans", 'sans-serif';
}

.serif-letter {
//   font-family: "Courgette", serif;
   @extend .secundaire-font;
} 

.gecentreerde-titel {
   margin-top: calc(20px - 0.075em);
   margin-bottom: calc(6px - 0.075em);
   line-height: 1.15em;
   text-align: center;
   font-size: 2.75rem;
   font-family: "Alef", sans-serif;
   font-weight: bold;
}
@media (max-width: 414px){
   .gecentreerde-titel {
      font-size: 1.8rem;
      margin-bottom: .84em;
   }
}

.header-footer-labels {
   font-size: 1.25rem;
   font-family: "Fira Sans", 'sans-serif';
   font-weight: 400;
   color: $hoofdkleur;
   letter-spacing: 0.1em;    
}

