


.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}
body { 
    background-color: none; 
    background: transparent;
}

pre {
    //color: black;
}

main {
    overflow-x:hidden;
}

.zichtbaar-op-focus {
    position: absolute;
    left: -50vw;
    top:-50vh;
    height: 1px;
    width: 1px;
    opacity: 0;
}
.zichtbaar-op-focus:focus {
    position: static;
    left: auto;
    top:auto;
    height: initial;
    width: initial;
    opacity: 1;
}

.wpcf7-textarea {
    height: 150px;
} 

.sticky-widget.widget_nav_menu li + li {
    margin-top: .25em;
}

.sticky-widget.widget_nav_menu a {
    line-height: .5em;
}

.sticky-widget.widget_nav_menu .menu-item:not(.current-menu-item) a 
 {
     color: $wittig;
}
.sticky-widget .custom-html-widget .knop + .knop {
    margin-top: .25em;
}
@media screen and (max-width: 600px) {
    .uitgelichte-afbeelding-buiten.hero {
        padding-top: 0;
    }
}

@media screen and (max-width: 600px) {
    .uitgelichte-afbeelding-buiten.hero .uitgelichte-afbeelding-binnen {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -300%);
        width: 80%;
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    .uitgelichte-afbeelding-buiten.hero .uitgelichte-afb-knop {
        position: absolute;
        bottom: 0;
        top: 10px;
        font-size: .5em;
        left: 50%;
        transform: translate(-50%, calc(100% + 1em));
        width: 100%;
        align-content: flex-start;
        justify-content: flex-start;
    }
}
@media screen and (max-width: 460px){
    .uitgelichte-afbeelding-buiten.hero .uitgelichte-afb-knop {
        justify-content: center;
        top: 60vh;
    }
}

.grunion-field-name-wrap {
    margin-bottom: .5em;
}

.geen-uitgelicht .sticky-sidebar {
    top: 120px;
    height: calc(100% - 100px);
}



.voorpagina .art-lijst .art-c img{
    height: auto; 
}


/* INDIEN à la OY VEY TITLE BOVEN AFB MOET STAAN */

h1 + .uitgelichte-afbeelding-buiten {
    margin: 2em 0; 
    height: initial;
    width: 100%;
    img {
        width: 100%;
        height: auto;
        object-fit: unset;
        display: inline;
    }
}


.search-form {
    padding: 0;
    margin-bottom: initial;
    background:transparent;
    .search-field {
        padding: 2px; 
        border-radius: 3px;
    }
    input {
        background-color: #f7f7f7;
    }
    .mdi {
        color: $hoofdkleur;
        &:hover {
            color: $hoofdkleur_donker;
        }
    }
}
.search-form.search-form--footer {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.art-links-binnen {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: calc(100% - 60px);
  color: white;
  @media (max-width: 600px){
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);    
  }

  h3 {
    color: 0;
  }
  P {
    color: white;
    margin: 0
  }
}

.error404, .search {
    main {
        overflow: initial;
    }
    .knop-rond
{
  background: transparent;
  border: 2px solid $zijkleur;
  border-radius: 30px;
  padding: 8px 21px;
  margin-left: 50px;
  color:$zijkleur;
  box-shadow: none;
  &:hover {
    color: $zijkleur;

  }
}
}
#zoekveld2 .search-field{
    background-color: white;
  border: 2px solid $zijkleur;
  padding: 8px 21px;
  color: $zijkleur;
  border-radius: 50px;
}

.widget_text.widget.sticky-widget.widget_custom_html .textwidget.custom-html-widget {
    font-size: .75rem;
    line-height: .75rem;
}