main blockquote {
   font-size: .9em;
}

.tekst-zwart,a.tekst-zwart {
     // color: $wittig;
  }



h1 {
   line-height: 0.9;
   font-size: 1.5rem;
}
h2 {
   font-size: 1.3rem;
}
h3 {
   font-size: 1.2rem;
}


h2, h3 {
   letter-spacing: -.03em;
}

h2, h3, .bericht-tekst {
   color: $hoofdkleur;
}
.bericht-tekst {
   font-size: 1rem;
 }
 .bericht-tekst {
   p, ol, ul {
      max-width: 55ch;
   }
 }
.serif-letter {
   font-family: "Courgette", serif
}

.gecentreerde-titel {
   margin-bottom: 1.5em;
   margin-top: 0;
   text-align: center;
   font-size: 3rem;
}
@media (max-width: 800px){
   .gecentreerde-titel {
      font-size: 2rem;
   }
}

p {
   font-weight: 400;
   color: $hoofdkleur;
}

