//child

.horeca-united-title  {
    font-family: $basis_kopletter;
    font-size: 2em; 
    font-weight: 900;
}


#stek-kop {
    //background-color: $basis_zwart;
}
#stek-kop .stek-kop-links {
    flex-basis: 300px;
    max-width: calc(100% - 160px)
}
.stek-kop-links .radical-riders-title {
    font-size: 2.5rem; 
}
@media screen and (max-width: 600px) {
    #mobiele-menu-schakel {
        font-size: 0.01px;
        padding-right:15px;
    }
    #mobiele-menu-schakel i {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 600px) {
    .stek-kop-links .radical-riders-title  {
        font-size: 1.5rem;
    }
}

.multi-lang-vlaggen .lang-item a {
    background: none;
}
.multi-lang-vlaggen .lang-item a:hover {
    background: none;
  }