//child

.mobiele-menu-schakel-open .kopmenu-mobiel {
    z-index: 1002;
}



#stek-kop {
    background-color: $wit;
    a {
        //color: #C82449;
    }
    .stek-kop-rechts {
        //display: none !important;
        justify-content: flex-end;
    }
    box-shadow: 0.5px 0.5px 1px $hoofdkleur_licht;
}
#stek-kop .stek-kop-links {
    flex-basis: 300px;
    max-width: calc(100% - 160px);
    justify-content: flex-start;
}
.stek-kop-links .radical-riders-title {
    font-size: 2.5rem; 
}

.menuschakel-open #stek-kop{
    position: sticky;
      top: 0;
}

@media screen and (max-width: 600px) {
    #mobiele-menu-schakel {
        font-size: 0.01px;
        padding-right:15px;
    }
    #mobiele-menu-schakel i {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 600px) {
    .stek-kop-links .radical-riders-title  {
        font-size: 1.5rem;
    }
}

.stek-kop-knoppen {
    display: flex;
    button {
        border: 0;
        background: transparent;
        padding: 0 .9em;
        font-size: 1.25rem;
        margin-right: 0;
        &.open {
            background-color: $hoofdkleur;
            color: white;
        }
    }
    button:last-child {
        margin-right: -20px;
    }
}

.openklap-menu-container {
    top: 70px;
    height: calc(100vh - 70px);
    z-index: 100;
    @media (min-width: 1200px){
        width: 50%;
        left: 50%;
    }
  }

.openklap-menu {
    left: calc(50% - 40px);
    transform: translate(-50%, calc(-50% + 25px));
    width: 1200px;
    max-width: calc(100% - 40px);
    align-items: end;
    // align-items: end;
    max-height: calc(100vh - 130px);
    flex-wrap: wrap;
}

@media (min-width: 420px){
    .openklap-menu .menu-item {
        min-width: 260px;
      }
}
@media (max-width: 460px){
    .openklap-menu  {
    left: calc(50%);
    transform: translate(-50%, calc(-50% + 25px));
    width: 1200px;
    max-width: calc(100% - 40px);
    align-items: center;    
}}
//   .openklap-menu .sub-menu .menu-item a {
//     padding-left: 1.5em;
//   }  

// .multi-lang-vlaggen .lang-item a {
//     background-color: transparent;
// }
// .multi-lang-vlaggen .lang-item a:hover {
//     background-color: transparent;
//   }

  

.multi-lang-vlaggen select {
    height: 40px;
    background: transparent;
    padding: 10px;
    border-radius: 3px;
}

// @media screen and (max-width: 600px){
//     .kopmenu-mobiel {
//         line-height: 40px;
//     }
//     #stek-kop .custom-logo-link img {
//         height: 30px;
//       }
//       .multi-lang-vlaggen select {
//         height: 30px;
//         padding: 5px;
//       }
// }

#stek-kop .stek-kop-links .custom-logo-link {
    overflow: initial;
  }

#stek-kop .custom-logo-link img {
    width: 120px;
    height: 120px;
    margin: 5px 0;
  }
  @media (max-width: 600px){
    #stek-kop .custom-logo-link img {
        width: 90px;
        height: 90px;
      }    
  }

#stek-kop .stek-kop-links {
    flex-direction: row;
  }

#stek-kop .stek-kop-links .custom-logo-link {
    align-self: center;
  }
  #stek-kop .stek-kop-links .custom-logo-link + span{
      line-height: 1.2;
      align-self: center;
      margin-left: 10px;
      text-align: center;
      max-width: 170px;
      font-size: .85em
  }
  @media (max-width: 600px){
    #stek-kop .stek-kop-links .custom-logo-link + span{
        display: none;
    }
  }

  main.heeft-uitgelicht .sticky-sidebar,
  main .sticky-sidebar  {
    top: 100px;
    height: calc(100% + 500px);
  }


#sluit-openklap-li {
    border-top: 3px solid white;
    padding-top: 10px;
    margin-top: 10px;
    button {
        background: transparent;
        color: white;
        border: 0;
        padding: 0;
        font-size: 1em;    
        &:hover {
            text-decoration: underline;
        }
    }
}







	// .stek-kop-rechts {

	// 	position: relative;
	// 	justify-content: flex-end;
	// 	@media (max-width: 460px) {
	// 		margin-right: -20px;
	// 	}
	// }



			#zoekveld {
				display: none;
				margin-right: 20px;
			}

			.zoekveldschakel-open {
				@media (max-width: 460px) {
					#toegankelijkheidsschakel, #menuschakel {
						display: none;
					}
					#zoekveldschakel {
						margin-right: 0;
					}
					#zoekveld {
						margin-right: 10px;
					}
				}
				@media (max-width: 360px) {
					/*zoek tekst veld*/
					#zoekveld form > input:first-child {
						max-width: calc(100% - 50px);
					}
				}
			}

				@media (max-width: 900px) {
					.zoekveldschakel-open {
						.stek-kop-links{
							display: none;
						}
						.stek-kop-rechts {
							width: 100%;
						}
					}
				}
		


				#zoekveld {
/* 					left: 115px;
					top: 0; */
					//width: 260px;
                    align-items: center;
				}
					#zoekveld input,
					#zoekveld label {
						vertical-align: middle;
						display: inline-block;
					}
						@media (max-width: 570px) {
							.screen-reader-text {
								display: none;
							}
						}
						@media (max-width: 360px) {
							#zoekveld input {
								width: 120px;
							}
						}
					[for='kop-zoekveld']:hover,
					#zoekveld input:focus + label .mdi {
						cursor: pointer;
						color: $zijkleur;
						transition: 0.2s ease-out;
					}
						#zoekveld #kop-zoekveld {
							display: none;
						}
						#zoekveld .mdi {
							font-size: 1.5em;
						}
                .zoekveldschakel-open #zoekveldschakel .kop-in-button-text {
                    display: none;
                }
                .kop-in-button-text {
                    margin-right: 10px;
                }
                .kopmenu-mobiel i {
                    margin-left: 0;
                }

                @media (max-width: 1200px){
                    .kop-in-button-text{
                        display: none;
                    }
                }
                @media (max-width: 1200px){
                    #zoekveld {
                        position: fixed;
                        top: 70px;
                        left: 0;
                        padding: 20px;
                        width: 100vw;
                        height: calc(100vh - 70px);
                        background-color: $hoofdkleur;
                        z-index: 100000000;
                        justify-content: space-around;
                        font-size: 1.5rem;
                    }
                    #zoekveld .mdi {
                        color: white;
                    }
                }





// .hieronder-lijn {
// 	&::after {
// 		content: '';
// 		display: block;
// 		margin: 9px calc(100% - 150px) 10px;
// 		border-top: $dunlijntje;
// 		width: 150px;
// 	}
// }


// .toegankelijkheid-flex {
// 	display: flex;
// 	flex-direction: row;
// 	justify-content: space-between;
// 	align-items: start;
// 	flex-wrap: wrap;
// 	padding-bottom: 20px;
// }

// .toegankelijkheid-intro {
// 	width: 230px;
// 	min-width: 230px;
// 	margin-top: 18px;
// 	text-align: right;
// 	margin-right: 100px;
// 	position: relative;
// 	left: 50%;
// 	transform: translate(-50%, 0);
// }

// @media (max-width: 600px) {
// 	.toegankelijkheid-flex {
// 		flex-direction: column;
// 		justify-content: flex-end;
// 		align-items: initial;
// 		flex-wrap: wrap;
// 	}

// 	.toegankelijkheid-intro {
// 		width: 100%;
// 		text-align: right;
// 		margin-right: 0;
// 		position: static;
// 		left: auto;
// 		transform: initial;
// 	}
// }