//child

#stek-kop {
  background-color: $wit;
  box-shadow: 0.5px 0.5px 1px $hoofdkleur_licht;
}

.menuschakel-open #stek-kop {
  position: sticky;
  top: 0;
}

///////////////////////

#stek-kop .stek-kop-links {
  flex-basis: 300px;
  max-width: calc(100% - 160px);
  justify-content: flex-start;
  flex-direction: row;
  .custom-logo-link {
    align-self: center;
    overflow: initial;
    img {
      width: 120px;
      height: 120px;
      margin: 5px 0;
    }
    @media (max-width: 600px) {
      width: 90px;
      height: 90px;
    }
  }
  .custom-logo-link + span {
    line-height: 1.2;
    align-self: center;
    margin-left: 10px;
    text-align: center;
    max-width: 170px;
    font-size: 0.85em;
    @media (max-width: 600px) {
      display: none;
    }
  }
}

//////////////////

#stek-kop .stek-kop-rechts {
  //display: none !important;
  justify-content: flex-end;
  @media (max-width: 600px) {
    padding-left: 0;
  }
}
.stek-kop-knoppen {
  display: flex;
  button {
    border: 0;
    background: transparent;
    padding: 0 0.9em;
    font-size: 1.25rem;
    margin-right: 0;
    &.open {
      background: none;
      color: $zijkleur;
    }
    @media (max-width: 380px) {
      padding-left: 0.4em;
      padding-right: 0.4em;
    }
  }
  button:last-child {
    margin-right: -20px;
  }
}

.mobiele-menu-schakel-open .kopmenu-mobiel {
  z-index: 1002;
}

.kopmenu-mobiel:hover {
  background: none;
  color: $zijkleur;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  #mobiele-menu-schakel {
    font-size: 0.01px;
    padding-right: 15px;
  }
  #mobiele-menu-schakel i {
    font-size: 1.2rem;
  }
}

.multi-lang-vlaggen__buiten {
  @media (max-width: 380px) {
    margin-left: 20px;
  }

}
.multi-lang-vlaggen select
{
    
  border: none;
  background: transparent;
  padding: 10px;
  padding-right: 5px;
  padding-left: 20px;
  font-size: 1.25rem;
  padding-top: 4px;
  text-transform: capitalize;
  position: relative;
  top: 2px;
  &:hover{
    color: $zijkleur;
    cursor: pointer;
  }
}

////////////////

#zoekveld {
  display: none;
  margin-right: 20px;
  align-items: center;
  #kop-zoekveld {
    display: none;
  }
  @media (max-width: 1200px) {
    position: fixed;
    top: 72px;
    left: 0;
    padding: 30px;
    width: 100%;
    height: calc(100vh - 72px);
    background-color: white;
    z-index: 100000000;
    justify-content: space-around;
    font-size: 1.5rem;
  }

}

#zoekveld .search-form {
  .mdi {
    color: $zijkleur;
    &:hover {
      color: $zijkleur_donker;
    }
  }
  @media (max-width: 1200px) {
    width: 100%;
  }
}
#zoekveld{
    input,
    label {
      vertical-align: middle;
      display: inline-block;
    }
    @media (max-width: 1200px){
        input {
            padding: 4px 18px;
            border-radius: 30px;
            border: 2px solid $zijkleur;        
        }
    }
    @media (max-width: 480px) {
      input {
        max-width: 100%;
      }
      label:first-child {
        max-width: calc(100% - 60px);
      }
    }    
}

[for="kop-zoekveld"]:hover,
#zoekveld input:focus + label .mdi {
  cursor: pointer;
  color: $zijkleur;
  transition: 0.2s ease-out;
}
#zoekveld .mdi {
  font-size: 1.5em;
  @media (max-width: 1200px) {
    color: white;
  }
}

.zoekveldschakel-open {
  #zoekveldschakel .kop-in-button-text {
    display: none;
  }
  @media (max-width: 900px) {
    .stek-kop-links {
      display: none;
    }
    .stek-kop-rechts {
      width: 100%;
    }
  }
  @media (max-width: 460px) {
    #toegankelijkheidsschakel,
    #menuschakel {
      display: none;
    }
    #zoekveldschakel {
      margin-right: 0;
    }
    #zoekveld {
      margin-right: 10px;
    }
  }
  @media (max-width: 360px) {
    /*zoek tekst veld*/
    #zoekveld form > input:first-child {
      max-width: calc(100% - 50px);
    }
  }
}

.kop-in-button-text {
  margin-right: 10px;
  @media (max-width: 1200px) {
    display: none;
  }
}
.kopmenu-mobiel i {
  margin-left: 0;
}

////////////////////

.openklap-menu-container {
  top: 70px;
  height: calc(100vh - 70px);
  z-index: 100;
  background: white;
  box-shadow: -1px 0.5px 4px rgba(55, 55, 55, 0.4);
  @media (min-width: 1200px) {
    width: 50%;
    left: 50%;
  }
}

.openklap-menu {
  left: calc(50% - 40px);
  transform: translate(-50%, calc(-50% + 25px));
  width: 1200px;
  max-width: calc(100% - 40px);
  align-items: end;
  // align-items: end;
  max-height: calc(100vh - 130px);
  flex-wrap: wrap;
  @media (max-width: 460px) {
    left: calc(50%);
    transform: translate(-50%, calc(-50% + 25px));
    width: 1200px;
    max-width: calc(100% - 40px);
    align-items: center;
  }
  .menu-item {
    @media (min-width: 420px) {
      min-width: 260px;
    }
  }
}
.openklap-menu-container a {
  color: $hoofdkleur;
}
.openklap-menu-container a:hover,
.openklap-menu-container .current-menu-item a,
.openklap-menu-container .current_page_item a {
  color: $zijkleur;
}
.openklap-menu .menu-item.current_page_item {
  padding-left: 0;
  border-left: none;
}

#sluit-openklap-li {
  border-top: 3px solid white;
  padding-top: 10px;
  margin-top: 10px;
  button {
    background: transparent;
    color: white;
    border: 0;
    padding: 0;
    font-size: 1em;
    &:hover {
      text-decoration: underline;
    }
  }
}
