.hexagons-outer {
    display:flex;
    --s: 100px;  /* size  */
    --m: 4px;    /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
    position: absolute;
    right: 20%;
    top: 20%;
    max-width: 45%;
  }
  
  .hexagons-container {
    font-size: 0; /*disable white space between inline block element */
    mix-blend-mode: lighten;
  }
  
  .hexagons-single {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s)*1.1547);
    display: inline-block;
    font-size: initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background: rgb(168, 191, 191);
    margin-bottom: calc(var(--m) - var(--s)*0.2885);
    position: relative;
    // mix-blend-mode: lichten;
    opacity: 0;
    transition: opacity 1.52s cubic-bezier(0.6, -0.28, 0.735, 0.045), filter 2.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    filter: hue-rotate(90deg);
  }

  .hexagons-single.visible {
    opacity: 1;
  }
  .hexagons-single.rotated {
    filter: hue-rotate(1080deg);
  }
  .hexagons-single:hover {
    filter: hue-rotate(1240deg);
  }
  .hexagons-inner {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s)*1.1547);
    display: inline-block;
    font-size: initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background: rgb(255, 255, 255);
    margin-bottom: calc(var(--m) - var(--s)*0.2885);
    position: absolute;
    top: -4.1px;
    left: -4px;
    transform: scale(0.9);
    mix-blend-mode: exclusion;
    
  }

  .hexagons-container::before {
    content: "";
    width: calc(var(--s)/2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(     
                     #0000 0 calc(var(--f) - 3px),      
                     #000  0 var(--f));
  }