// child

// voorpagina blokken naast elkaar zetten.

.uitgelichte-afbeelding-buiten.hero {
  height: calc(100vh - 70px);
  margin-bottom: 3em;
  @media screen and (max-width: 600px){
    height: calc(100vh - 40px);
  }
}
.uitgelichte-afbeelding-buiten.hero .uitgelichte-afbeelding-binnen {
  z-index: 2;
}

.voorpagina .site-main .tekstveld:first-child {
  h1, p {
    font-size: 2em;
    font-weight: bold;
  }
  h1, .tekst, p {
    display: inline;
    color: $hoofdkleur;
    line-height: 1.15;
    letter-spacing: -.03em;
  }
  p:last-child {
    display: block;
    margin: 0;
    text-align:right;
  }
  .knop {
    margin-top: 1em;
  }
}
@media screen and (max-width: 1024px) {
  .voorpagina .site-main .tekstveld {
    font-size: .75em;
  }
}
@media screen and (max-width: 800px) {
  .voorpagina .site-main .tekstveld {
    font-size: .66em;
  }
}


// .voorpagina .site-main {
//   display: flex;
//   flex-wrap: wrap;
// }

// .voorpagina h2 {
//   font-size: 2.5rem;
// }

// .voorpagina .site-main .uitgelichte-afbeelding-buiten {
//   width: 100%;
//   margin-bottom: 0;
// }

// .voorpagina .site-main .uitgelichte-afbeelding-buiten+.tekstveld,
// .voorpagina .site-main .vp-menu {
//   width: 50%;
// }

// .voorpagina .site-main .uitgelichte-afbeelding-buiten+.tekstveld {
//   padding: 4em;
// }

// .voorpagina .site-main .uitgelichte-afbeelding-buiten+.tekstveld h2 {
//   margin-top: 0;
//   margin-bottom: 2em;
// }

// #primary.voorpagina .vp-menu {
//   margin-left: 0;
//   margin-right: 0;
//   width: 50%;
//   padding-left: 4em;
//   padding-right: 4em;
//   padding-top: 4.66em;
//   margin-top: 0;
//   padding-bottom: 4.66em;
//   margin-bottom: 0;

// }

// #primary.voorpagina .vp-menu .knoppendoos {
//   margin-top: 3em;
// }

// #primary.voorpagina .vp-menu .knoppendoos .knop.in-kleur {
//   color: $zwart;
//   font-size: 1.25em;
//   margin-bottom: .5em;
//   margin-right: .5em;
// }

.vp-nieuws {
  padding-bottom: 2em;
  padding-top: 2em;
  margin-bottom: 0;
margin-top: 0;

}

// .vp-nieuws::after {
//   position: absolute;
//   z-index: -1;
//   display: block;
//   content: '';
//   height: 100%;
//   width: 100vw;
//   background-color: #e5e5e5;
//   margin-left: calc(50% - 50vw);
//   top: 0;
//   left: 0;
// }

// .home h2 ~ h2 {
//   margin-top: 100px
// }

// .h3-als-lijst-opmaken {
//   margin-bottom: 0;
//   margin-top: 2.5em;
// }
// .h3-als-lijst-opmaken + p {
//   margin-top: 0;
// }
.home #main .uitgelichte-afbeelding-buiten + div + .tekstveld {
  position: relative;
}
// .element-naast-tekst {
//   margin: 0;
//   position: absolute;
//   width: calc(((100vw - 685px)/2) - 120px);
//   mix-blend-mode: darken;  
// }
// .element-naast-tekst-links{
//   left: 50px;
// }
// .element-naast-tekst-rechts {
//   right: 50px;
// }
// .joods-genoeg-afbeelding-buiten {
//   top: calc(100vh + 40px);
// }
// .oy-vey-logo-in-tekst {
//   top: calc(100vh + 240px);
// }

.voorpagina-sectie .art-c p::after {
  color: $zijkleur;
  margin-left: 5px;
  content: 'Meer';
}
.voorpagina-sectie .art-c:hover p::after{
  text-decoration: underline;
}

@media (min-width: 1620px){
  .voorpagina-sectie {
    position: relative;
  }
  .voorpagina-sectie .voorpagina-sectie-footer {
    position: absolute;
    top: calc(100% - 2em);
    left: calc(100% + 40px);
    transform: translate(0%, -100%);
    margin-top: 0;
    text-align: left;
    min-width: 200px;
  }
}


@media (max-width: 600px) {

  .voorpagina .site-main .uitgelichte-afbeelding-buiten+.tekstveld,
  .voorpagina .site-main .vp-menu {
    width: 100%;
  }

    .voorpagina .site-main .uitgelichte-afbeelding-buiten+.tekstveld {
      padding: 2em 4em;
    }

.voorpagina .site-main .uitgelichte-afbeelding-buiten+.tekstveld h2 {
  margin-top: .5em;
  margin-bottom: .5em;
}

#primary.voorpagina .vp-menu {
  width: 100%;

}
}

// .voorpagina .uitgelichte-afbeelding-buiten.hero::before {
//   content: '';
//   display: block;
//   height: 100%;
//   width: 100%;
//   background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.5) 100%) no-repeat border-box,  linear-gradient(290deg, rgba(20, 38, 37, 0.8) 0, rgba(18, 36, 35, 0.7) 9%, rgba(69, 145, 140, 0.2) 42%, rgba(167, 232, 227, 0.42) 100%) no-repeat border-box;
  
//   position: absolute;
//   z-index: 1;
//   top: 0;
//   right: 0;
  
// }

@media (min-width: 1200px){
 
  // .voorpagina .uitgelichte-afbeelding-buiten.hero::after {
  //   content: '';
  //   display: block;
  //   height: 100%;
  //   width: 70vw;
    
  //   background-image: url("http://localhost/oyvey/wp-content/themes/agitatie-kind/img/hexagonenveld-9-desktop-2.png");
  //   background-size: 60%;
  //   background-position: center right;
  //   position: absolute;
  //   z-index: 2;
  //   top: 0;
  //   right: 50px;
  //   background-repeat: no-repeat;
  // }
  // .voorpagina .uitgelichte-afbeelding-buiten.hero .uitgelichte-afbeelding-binnen {
  //   z-index: 3;
  // }
  // .voorpagina .uitgelichte-afbeelding-buiten.hero .uitgelichte-afbeelding-binnen {
  //   left: 30%;
  // }
}

@media screen and (max-width: 460px){
  .uitgelichte-afbeelding-buiten.hero .uitgelichte-afbeelding-binnen {
    top: 0;
    transform: initial;
    left: 0;
    width: 100%;
    h1 {
      font-size: 1.75em;
      background-color: rgba($hoofdkleur, 0.7);
      padding: 1.33em 1em;
    }
  }
}

.is-voorpagina-titel-en-tekst {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(100vh - 200px);
  @media (max-width: 1450px){
    height: auto;
  }
  margin-bottom: 0;
  &.verpakking{
    width: 1650px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto    ;    

  }
  > * {
    flex-basis: calc(50% - 40px);
  }
  .tekstveld-links {
    align-self: center;
    max-width: 600px;
  }
}
@media (max-width: 1024px){
  .is-voorpagina-titel-en-tekst {
    margin-top: 4em;
    margin-bottom: 4em;
  }
}
@media (max-width: 800px){
  .is-voorpagina-titel-en-tekst {
    display: block;
    margin: 6em 0;
  }
  .is-voorpagina-titel-en-tekst > * {
    width: 100%;
  }
  .is-voorpagina-titel-en-tekst .tekstveld-links {
    max-width: 360px;
    margin: 0 auto;
  }
  .is-voorpagina-titel-en-tekst .fader-video {
    max-width: 360px;
    margin: 40px auto 0; 
  }
}
