// @font-face {
//   font-family: "Nobel";
//   src: url("lettertype/nobel.ttf") format("ttf")
// }


$basis_kopletter: 			'Merriweather', serif;
$broodletter: 				'Merriweather Sans', sans-serif;
$accentletter: 				'Merriweather Sans', sans-serif;
$kleine_letter: 			'Merriweather Sans', sans-serif;




//font-family: 'Encode Sans', sans-serif;