// @font-face {
//   font-family: "Nobel";
//   src: url("lettertype/nobel.ttf") format("ttf")
// }

$kopletter: 				'Alef', serif;
$broodletter: 				'Alef', serif;
$accentletter: 				'Alef', serif;
$kleine_letter: 			'Alef', serif;





//font-family: 'Encode Sans', sans-serif;